/* -------------- keyframes */
.banner_leaf{
    animation: bannerLeafMove 4s infinite linear;
}

@keyframes bannerLeafMove{
    0%{
        top: 25%;
        right: 200px;
    }
    50%{
        top: 30%;
        right: 200px;
    }
}
.banner_arrow{
    animation: bannerArrow 4s infinite linear;
}
@keyframes bannerArrow{
    0%{
        top: 120px;
        right: 750px;
    }
    25%{
        top: 130px;
        right: 700px;
    }
    50%{
        top: 150px;
        right: 750px;
    }
    100%{
        top: 120px;
        right: 750px;
    } 
}

.banner_main_slider .slick-arrow{
    position: absolute;
    left: -110px;
    font-size: 24px;
    color: #7DA640;
}
.banner_main_slider .slick-prev{
    top: 500px;
}
.banner_main_slider .slick-next{
    top: 150px;
}
.banner_main_slider .slick-dots{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: -100px;
}
.banner_main_slider .slick-dots li button{
    font-size: 28px;
    font-weight: 400;
    font-family: "Lobster", sans-serif;
    color: rgba(125, 166, 64, 0.40);
    margin-bottom: 30px;
}
.banner_main_slider .slick-dots .slick-active button{
    color: #7DA640;
}